* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #0f172a;
}
.heatmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  row-gap: 5px;
  height: 60%;
  margin: 1em auto;
  justify-content: baseline;
}
.entry {
  width: 0.75em;
  height: 0.75em;
  margin: 0.07em 0;
  border: 0.5px solid #1d2846;
  background-color: #1a243d3e;
  border-radius: 2px;
}
.habitContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 40vh;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  background-color: #1a243d3e;
  border: 1px solid rgba(255, 255, 255, 0.078);
  color: rgba(255, 255, 255, 0.795);
}

.habitName {
  font-size: 1.5rem;
}
.infoContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.info {
  display: inline;
}

.entry:hover {
  border-color: #414c6c;
  cursor: pointer;
}

#addNewHabit {
  display: block;
  margin: 1em auto;
  padding: 1em;
  background-color: #293655;
  color: white;
  border: 0.2em solid #111a31;
  border-radius: 1em;
}

#addNewHabit:hover {
  background-color: #233051;
  cursor: pointer;
}

#habitName {
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

#habitTrackingStyle {
  width: 100%;
}

td {
  padding: 0.2em;
  text-align: left;
}
td[colspan="2"] {
  text-align: right;
}

#newHabitForm,
#newEntry {
  position: fixed;
  color: white;
  background-color: #1e2d52;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  left: 35%;
}

form button {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 1em;
  padding: 0.5em;
}

form button:hover {
  background-color: #576fac;
  color: white;
  cursor: pointer;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 23, 42, 0.5);
  display: none;
}

/* #newEntry {
  position: fixed;
  height: 300px;
  width: 300px;
  left: 40%;
  bottom: 30%;
  margin: auto;
  color: white;
  background-color: #1e2d52;
  border-radius: 1em;
}
*/
.entryForm button {
  width: 100%;
}
