* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f172a;
}
.year {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 25vh;
  margin: auto;
  justify-content: end;
}
/* .month {
  width: calc(100% / 12 - 2px);
  height: calc(100% / 2);
  margin: 2px;
  background-color: rgb(70, 7, 208);
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
} */

.entry {
  width: calc(100% / 53 - 5px);
  height: calc(100% / 7 - 5px);
  border: 0.5px solid #1d2846;
  background-color: #1a243d3e;
  margin: 2px;
  border-radius: 2px;
}

.entry:hover {
  border-color: #414c6c;
  cursor: pointer;
}

#addNewHabit {
  display: block;
  margin: 1em auto;
  padding: 1em;
  background-color: #293655;
  color: white;
  border: 0.2em solid #111a31;
  border-radius: 1em;
}

#addNewHabit:hover {
  background-color: #233051;
  cursor: pointer;
}

#habitName {
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

#habitTrackingStyle {
  width: 100%;
}

td {
  padding: 0.2em;
  text-align: left;
}
td[colspan="2"] {
  text-align: right;
}

form {
  position: relative;
  color: white;
  background-color: #1e2d52;
  border-radius: 1em;
  width: fit-content;
  height: fit-content;
  padding: 1em;
  margin: auto;
}

form button {
  display: block;
  width: 50%;
  margin: auto;
  border-radius: 1em;
  padding: 0.5em;
}

form button:hover {
  background-color: #576fac;
  color: white;
  cursor: pointer;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 23, 42, 0.5);
  display: none;
}
